<p>This is the login page</p>
<p id="error" hidden></p>
<form method="POST" action="/user/login" id="signup-form">

                <label for="userId">Enter userId</label>
                <input type="text" name="userId" id="userId">

                <label for="password">Enter password</label>
                <input type="password" name="password" id="password">

                <button id="submitButton">Submit</button>
</form>

<script src="/public/js/form_validation.js"></script>