<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

{{#if logout}}
  <p>You have been logged out.</p>
{{/if}}
{{#if deleteAcc}}
  <p>You have successfully deleted your account.</p>
{{/if}}
<a href="/" class="nav-link">Go back to homepage</a>