<p>This is the admin dashboard page</p>
<ul>
<li><a href="/review/createpost">Click me to create a new vacation spot</a></li>
<li><a href="/leaderboard">Click me to look at the vacation spots for updating</a></li>
<li><a href="/admin/reviewrequests">Click me to review admin requests for creating new vacation spots</a></li>
</ul>