<h1>Welcome to TripScore</h1>
<p>To enter this website, you must be at least 14 years old</p>

<form method="POST" action="/verifyage">
    <label for="age">Enter your age:</label><br>
    <input type="text" name="age" id="age" required><br><br>
    <button type="submit">Enter Site</button>
</form>