<section class="intro-section">
  <h2>What is TripScore?</h2>
  <p>
    TripScore is a website designed to rank and score vacation spots based on users’ experiences at those spots. Each user can create an account to give both an overall score and more detailed ratings—food, safety, cost, weather, activities, and more—all on a 1–5 scale.
  </p>
  <p>
    These ratings are combined on the Leaderboard page, where anyone can view the top vacation spots and filter by location, price, or specific category. Ready to explore?
  </p>
</section>

<section class="homepage-leaderboard">
  <h2 class="page-title">Featured Destinations</h2>
  <p>Leaderboard goes here</p>
  {{{body}}}  
</section>