<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripScore</title>
</head>
<body>
    <main class="container">
        {{#if notLoggedIn}}
            <a href="/user/register">Register Here</a>
            <a href="/user/login">Login Here</a>
        {{/if}}
        {{#if loggedInUser}}
            <a href="/user/profile">Profile</a>
            <a href="/review/createpost">Create Post Here!</a>
        {{/if}}
        {{#if loggedInAdmin}}
            <a href="/user/profile">Profile</a>
            <a href="/review/createpost">Create Post Here!</a>
            {{!-- link to create vaction spots since only for super users --}}
        {{/if}}

        <h1>TripScore</h1>
        {{{body}}}
    </main>
</body>
</html>