<p id="error">{{error}}</p>

<form id="createpost-form" action="/review/createpost" method="POST">
    <label for="name">Location Name:</label>
    <input type="text" name="name" id="name">
    <label for="city">City:</label>
    <input type="text" name="city" id="city">
    <label for="city">Region/State:</label>
    <input type="text" name="region" id="region">
    <label for="city">Country:</label>
    <input type="text" name="country" id="country">
    <label for="city">Continent:</label>
    <input type="text" name="country" id="country">
    <label for="description">Description:</label>
    <input type="text" name="description" id="description">
    <button type="submit" name="submit_button" id="submit_button">Submit Post</button>
</form>

<script src="/public/js/form_validation.js"></script>
