<h1 class="page-title">Request New Vacation Spot</h1>
<p>This form will be sent to an admin for approval.</p>
<p id="error" class="error-message" hidden></p>

  <form id="request-form" method="POST" action="/review/requestpost" class="form">
<div class="form-group">
    <label for="name">Location Name</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" id="city" name="city">
  </div>

  <div class="form-group">
    <label for="region">Region/State</label>
    <input type="text" id="region" name="region">
  </div>

  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" id="country" name="country">
  </div>

  <div class="form-group">
    <label for="continent">Continent</label>
    <input type="text" id="continent" name="continent">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="4"></textarea>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn-primary">Request Post</button>
  </div>
</form>
<script src="/public/js/form_validation.js"></script>
