<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

<h1>Error:</h1>
<p>{{error}}</p>
<a href="/" class="nav-link">Go back to homepage</a>
