<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{else}}Home{{/if}} - TripScore</title>
</head> <!-- formalities for html validation -->

<h1 class="page-title">Edit Profile</h1>
<p id="error" class="error-message" hidden></p>
<p>Welcome {{firstName}} {{lastName}}. Choose an item to edit:</p>

<form
  id="profileedit-form"
  action="/user/edit"
  method="POST"
  class="form"
>
  <div class="form-group">
    <label for="editItem">Field to edit</label>
    <select id="editItem" name="editItem">
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="email">Email</option>
      <option value="bio">Bio</option>
      <option value="password">Password</option>
      <option value="favoritePlace">Favorite Place</option>
    </select>
  </div>

  <div class="form-group">
    <label for="newValue">New Value</label>
    <input type="text" id="newValue" name="newValue">
  </div>

  <div class="form-actions">
    <button type="submit" class="btn-primary">Update</button>
  </div>
</form>

<script src="/public/js/form_validation.js"></script>