<p>Profile Edit HandleBars</p>
<h1>Edit Profile</h1> <!-- Edit page THIS IS TENTATIVE -->
<p>Welcome {{firstName}} {{lastName}}. Choose an item to edit!</p>
<p id="error" hidden></p>
<form id="profileedit-form" action="/user/edit" method="post">
  <div class="editForm">
  <dropdown>
    <label for="editItem">Edit Item</label>
    <select id="editItem" name="editItem">
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="email">Email</option>
      <option value="bio">Bio</option>
      <option value="password">Password</option>
      <option value="favoritePlace">favoritePlace</option>
    </select>
  </div>

  <div class="editForm">
    <label for="newValue">New value:</label>
    <input type="text" id="newValue" name="newValue">
  </div>

  <button type="submit">Update</button>
</form>

<script src="/public/js/form_validation.js"></script>
