<h1>Profile Page</h1>

<main>
<div id="userView">

<h1 id="userID">{{userId}}</h1>
<p id="welcome">Welcome {{firstName}} {{lastName}}.</p>

<a href="/user/profile/edit">
  <button type="button">Edit Profile</button>
</a>
</div>
</main>