<h1>Profile Page</h1>

<main>
<div id="userView">

<h1 id="userID">{{userId}}</h1>
<p id="welcome">Welcome {{firstName}} {{lastName}},.</p>
<p id="quote">Favorite Quote: {{favoriteQuote}}</p>

</div>
</main>